$red-orange: #ff2b06;
$bloody-red: #700306;
$secondary-text: #000000bd;
$white: white;
$black: black;
$footer-bg: #241e1e;

html, body {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    background-color: $white;
    color: $black;
    overflow-x: hidden;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    @include center();
}

.w-100 {
    width: 100%;
}

.row>* {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.container {
    max-width: -webkit-fit-content;
}

span.header-text {
    position: relative;
    font-size: 20pt;
    width: auto;
    padding: 0;
    &::before{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $red-orange;
    }
}

.events {
    .subtitle p {
        color: $secondary-text;
    }
    button {
        background-color: $red-orange;
        border: $red-orange;
        color: $white;
        font-size: 15pt;
        padding: 10px 35px;
        margin-top: .2rem;
        transition: 0.25s;
        cursor: pointer;
        &:hover {
            color: $white;
            background-color: $bloody-red;
        }
    }
    img {
        max-width: 100%;
        height: 100%;
    }
}

.event-highlights {
    margin-top: 5rem;
    .d-flex {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        img {
            position: relative;
            width: 200px;
            margin: 10px;
            cursor: pointer;
            transition: 0.25s;
            // &:active {
            //     position: fixed;
            //     top: 50%;
            //     left: 50%;
            //     transform: translate(-50%, -50%);
            //     z-index: 2;
            //     width: 90vw;
            // }
        }
    }
}